{% extends 'blog/base.html' %}
{% load static %}
{% block content %}     

    <div section="about" class="about-me container">
  
      <div class="section-title">
        <h2>About</h2>
        <p>Learn more about me</p>
      </div>
  
      <div class="row">
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>Computer Science (UoB) &amp; Degree Apprenticeship (PwC)</h3>
          <p class="font-italic">
            Computer Science with a Digital Technology Partnership (PwC) at the University of Birmingham.
          </p>
          <div class="row">
              <ul>
                <li><i class="icofont-rounded-right"></i> <strong>Birthday:</strong> 20 October 1999</li>
                <li><i class="icofont-rounded-right"></i> <strong>Phone:</strong> 07572 721301</li>
                <li><i class="icofont-rounded-right"></i> <strong>City:</strong> London, UK</li>
                <li><i class="icofont-rounded-right"></i> <strong>Degree:</strong> Computer Science with Digital Technology Partnership</li>
                <li><i class="icofont-rounded-right"></i> <strong>Email:</strong> jamienking@hotmail.com</li>
              </ul>
          </div>
          <p>
            I am very organised, focused and thrive when it comes to time management. I work well in teams and individually whilst also having many experiences as a team leader. I am used to helping to drive teams forward to reach their goals.
            <br>
            <br>
            I enjoy theatre tech (lighting, sound and visuals) and have a background in many different types of productions from work at school, university and youth programs. I love performing magic at parties and events for all ages. I have also achieved my Bronze DofE and many other leadership qualifications.
            <br>
            <br>
            In my spare time, I volunteer with a national youth group, as a member of staff, building on young people's potentials to achieve great things, helping them to evolve and thrive in leadership and teamwork. I have also helped to organise and run international camps for children aged 8-18 for over 500 people. 
          </p>
        </div>
      </div>
  
    </div><!-- End About Me -->
  
    <!-- ======= Counts ======= -->
    <div class="counts container">
  
      <div class="row">
  
        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="icofont-simple-smile"></i>
            <span data-toggle="counter-up">124</span>
            <p>Empowered <br> Young Leaders</p>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
          <div class="count-box">
            <i class="icofont-document-folder"></i>
            <span data-toggle="counter-up">32</span>
            <p>Qualifications and Certifications</p>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="icofont-live-support"></i>
            <span data-toggle="counter-up">3,457</span>
            <p>Hours of Youth <br> Support</p>
          </div>
        </div>
  
      </div>
  
    </div><!-- End Counts -->
  
    <!-- ======= Skills  ======= -->
    <div class="skills container">

      <div class="section-title">
        <h2>Skills</h2>
      </div>
      <div class="row skills-content">
  
        <div class="col-lg-6">
  
          <div class="progress">
            <span class="skill">Leadership <i class="val">95%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
  
          <div class="progress">
            <span class="skill">Youth Mentoring <i class="val">95%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
  
          <div class="progress">
            <span class="skill">Initiative <i class="val">90%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
  
          <div class="progress">
            <span class="skill">Communication <i class="val">90%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
  
          <div class="progress">
            <span class="skill">Organisation <i class="val">100%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
  
          <div class="progress">
            <span class="skill">Personal Development <i class="val">100%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
  
        </div>
  
      </div>

    </div>
  
    <!-- ======= Interests ======= -->
    <div class="interests container">
  
      <div class="section-title">
        <h2>Interests</h2>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-4">
          <div class="icon-box">
            <i class="ri-base-station-line" style="color: #ff5d2c;"></i>
            <h3>Technology</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="ri-user-line" style="color: #15c750;"></i>
            <h3>Leadership</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
          <div class="icon-box">
            <i class="ri-user-voice-line" style="color: #e361ff;"></i>
            <h3>Youth Development</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-headphone-line" style="color: #ffa76e;"></i>
            <h3>Production</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-film-line" style="color: #c9d615;"></i>
            <h3>Media</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-key-line" style="color: #337aff;"></i>
            <h3>Personal Development</h3>
          </div>
        </div>
      </div>
  
    </div>
  
  <!-- ======= Resume Section ======= -->

    <div class="container">
  <div class="resume" id="resume">
      <div class="section-title">
        <h2>CV</h2>
        <p>Check Out My CV <a href="{% static 'assets/Jamie_King_CV.pdf' %}" target="_blank" style="
    text-decoration: underline;
    font-size: 22px;
    background: #ebf4f724;
    padding: 12px;
    border-radius: 14px;
  ">DOWNLOAD CV</a></p>
      </div>
  
      <div class="row">
        <div class="col-lg-6">
          <h3 class="resume-title">Summary</h3>
          <div class="resume-item pb-0">
            <h4>Jamie King</h4>
            <p><em>Innovative and deadline-driven Computer Scientist with experience designing and developing user-centered systems, focussing on the purpose of the project. Very personable, dedicated person who will not stop until the project is up to the high standard expected.</em></p>
            <ul>
              <li>South London, UK</li>
              <li>07572 721301</li>
              <li>jamienking@hotmail.com</li>
            </ul>
          </div>
  
          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>Computer Science with Digital Technology Partnership</h4>
            <h5>2018 - Present</h5>
            <p><em>University of Birmingham</em></p>
            <p>An incredible opportunity to do a sponsored degree with PwC at the University of Birmingham, with summer placements, a year in industry and a prospective job offer post university.</p>
          </div>
          <div class="resume-item">
            <h4>A-Levels &amp; AS-Levels</h4>
            <h5>2016 - 2018</h5>
            <p><em>Royal Russell School</em></p>
            <p>Recieved an AS Level in Media Studies (Grade A) and A-Levels in  Computer Science (A*), Maths (A) and Physics (B). I was lucky to go to an amazing school, supported by great staff and many opportunities.</p>
          </div>
          <div class="resume-item">
            <h4>GCSEs</h4>
            <h5>2014 - 2016</h5>
            <p><em>Royal Russell School</em></p>
            <p>Recieved 11 GCSEs A*-B; recieved an A* for GCSE Maths a year early, and then a further maths qualification the following year. Royal Russell was an incredib,e school, surrounded by amazing staff and lots of opportunities.</p>
          </div>
  
        <div>
          <br>
          {% if user.is_authenticated %}
          <a id="plus" class="btn btn-default" href="{% url 'cv_new' %}#posts"><span class="glyphicon glyphicon-plus"></span></a>
          {% endif %}
          <h3 class="resume-title">Experience</h3>
          {% for CV in cvs %}
          
            <div class="resume-item">
              <h4>{{CV.title}}</h4>
              <h5>{{CV.date}}</h5>
              {% if user.is_authenticated %}
              <a id="button" class="btn btn-default" href="{% url 'cv_edit' pk=CV.pk %}#posts"><span class="glyphicon glyphicon-pencil"></span></a>
              {% endif %}
              <p><em>{{CV.location}}</em></p>
              <p>
                {{CV.text}}
              <ul>
                <li>{{CV.l1}}</li>
                <li>{{CV.l2}}</li>
                <li>{{CV.l3}}</li>
              </ul>
            </div>
          {% endfor %}
          
    </div>
  </div>
  </section>
{% endblock %}