{% extends 'blog/base.html' %}

{% block content %}
         
  <!-- ======= About Section ======= -->
  <section id="about" class="about">

    <!-- ======= About Me ======= -->
    <div class="about-me container">
  
      <div class="section-title">
        <h2>About</h2>
        <p>Learn more about me</p>
      </div>
  
      <div class="row">
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>Computer Science (UoB) &amp; Degree Apprenticeship (PwC)</h3>
          <p class="font-italic">
            I am currently studying Computer Science with a Digital Technology Partnership (PwC) at the University of Birmingham.
          </p>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="icofont-rounded-right"></i> <strong>Birthday:</strong> 20 October 1999</li>
                <li><i class="icofont-rounded-right"></i> <strong>Phone:</strong> 07572 721301</li>
                <li><i class="icofont-rounded-right"></i> <strong>City:</strong> London, UK</li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="icofont-rounded-right"></i> <strong>Degree:</strong> Computer Science with Digital Technology Partnership</li>
                <li><i class="icofont-rounded-right"></i> <strong>Email:</strong> jamienking@hotmail.com</li>
              </ul>
            </div>
          </div>
          <p>
            I am very organised, focused and thrive when it comes to time management. I work well in teams and individually whilst also having many experiences as a team leader. I am used to helping to drive teams forward to reach their goals.
            <br>
            <br>
            I enjoy theatre tech (lighting, sound and visuals) and have a background in many different types of productions from work at school, university and youth programs. I love performing magic at parties and events for all ages. I have also achieved my Bronze DofE and many other leadership qualifications.
            <br>
            <br>
            In my spare time, I volunteer with a national youth group, as a member of staff, building on young people's potentials to achieve great things, helping them to evolve and thrive in leadership and teamwork. I have also helped to organise and run international camps for children aged 8-18 for over 500 people. 
          </p>
        </div>
      </div>
  
    </div><!-- End About Me -->
  
    <!-- ======= Counts ======= -->
    <div class="counts container">
  
      <div class="row">
  
        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="icofont-simple-smile"></i>
            <span data-toggle="counter-up">124</span>
            <p>Empowered Young Leaders</p>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
          <div class="count-box">
            <i class="icofont-document-folder"></i>
            <span data-toggle="counter-up">32</span>
            <p>Qualifications</p>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="icofont-live-support"></i>
            <span data-toggle="counter-up">3,457</span>
            <p>Hours of Youth Support</p>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="icofont-users-alt-5"></i>
            <span data-toggle="counter-up">1976</span>
            <p>Contacts in Network</p>
          </div>
        </div>
  
      </div>
  
    </div><!-- End Counts -->
  
    <!-- ======= Skills  ======= -->
    <div class="skills container">
  
      <div class="section-title">
        <h2>Skills</h2>
      </div>
  
      <div class="row skills-content">
  
        <div class="col-lg-6">
  
          <div class="progress">
            <span class="skill">Leadership <i class="val">95%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
  
          <div class="progress">
            <span class="skill">Youth Mentoring <i class="val">95%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
  
          <div class="progress">
            <span class="skill">Initiative <i class="val">90%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
  
        </div>
  
        <div class="col-lg-6">
  
          <div class="progress">
            <span class="skill">Communication <i class="val">90%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
  
          <div class="progress">
            <span class="skill">Organisation <i class="val">100%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
  
          <div class="progress">
            <span class="skill">Personal Development <i class="val">100%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
  
        </div>
  
      </div>
  
    </div><!-- End Skills -->
  
    <!-- ======= Interests ======= -->
    <div class="interests container">
  
      <div class="section-title">
        <h2>Interests</h2>
      </div>
  <!--mobile mouse-->
      <div class="row">
        <div class="col-lg-3 col-md-4">
          <div class="icon-box">
            <i class="ri-base-station-line" style="color: #ffbb2c;"></i>
            <h3>Technology</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="ri-user-line" style="color: #5578ff;"></i>
            <h3>Leadership</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="ri-group-line" style="color: #e80368;"></i>
            <h3>Teamwork</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
          <div class="icon-box">
            <i class="ri-user-voice-line" style="color: #e361ff;"></i>
            <h3>Youth Development</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-coin-line" style="color: #47aeff;"></i>
            <h3>Magician</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-headphone-line" style="color: #ffa76e;"></i>
            <h3>Production</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-film-line" style="color: #11dbcf;"></i>
            <h3>Media</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-key-line" style="color: #4233ff;"></i>
            <h3>Personal Development</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-fingerprint-line" style="color: #b2904f;"></i>
            <h3>The Future</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-globe-line" style="color: #b20969;"></i>
            <h3>Networking</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-message-line" style="color: #ff5828;"></i>
            <h3>Motivation</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-edit-line" style="color: #29cc61;"></i>
            <h3>Design</h3>
          </div>
        </div>
      </div>
  
    </div><!-- End Interests -->
  
  </section><!-- End About Section -->
  
  <!-- ======= Resume Section ======= -->
  <section id="resume" class="resume">
    <div class="container">
  
      <div class="section-title">
        <h2>CV</h2>
        <p>Check Out My CV <a href="/assets/Jamie_King_CV.pdf" target="_blank" style="
    text-decoration: underline;
    font-size: 22px;
    background: #ebf4f724;
    padding: 12px;
    border-radius: 14px;
  ">DOWNLOAD CV</a></p>
      </div>
  
      <div class="row">
        <div class="col-lg-6">
          <h3 class="resume-title">Summary</h3>
          <div class="resume-item pb-0">
            <h4>Jamie King</h4>
            <p><em>Innovative and deadline-driven Computer Scientist with 5+ years of experience designing and developing user-centered systems, focussing on the purpose of the project. Very personable, dedicated person who will not stop until the project is up to the high standard expected.</em></p>
            <ul>
              <li>South London, UK</li>
              <li>07572 721301</li>
              <li>jamienking@hotmail.com</li>
            </ul>
          </div>
  
          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>Computer Science with Digital Technology Partnership</h4>
            <h5>2018 - Present</h5>
            <p><em>University of Birmingham</em></p>
            <p>An incredible opportunity to do a sponsored degree with PwC at the University of Birmingham, with summer placements, a year in industry and a prospective job offer post university.</p>
          </div>
          <div class="resume-item">
            <h4>A-Levels &amp; AS-Levels</h4>
            <h5>2016 - 2018</h5>
            <p><em>Royal Russell School</em></p>
            <p>Recieved an AS Level in Media Studies (Grade A) and A-Levels in  Computer Science (A*), Maths (A) and Physics (B). I was lucky to go to an amazing school, supported by great staff and many opportunities.</p>
          </div>
          <div class="resume-item">
            <h4>GCSEs</h4>
            <h5>2014 - 2016</h5>
            <p><em>Royal Russell School</em></p>
            <p>Recieved 11 GCSEs A*-B; recieved an A* for GCSE Maths a year early, and then a further maths qualification the following year. Royal Russell was an incredib,e school, surrounded by amazing staff and lots of opportunities.</p>
          </div>
  
        <div>
          <h3 class="resume-title">Professional Experience</h3>
          <div class="resume-item">
            <h4>Tech Degree Apprentice</h4>
            <h5>2018 - Present</h5>
            <p><em>Pricewaterhouse Coopers, London</em></p>
            <p>
                I worked on the Tech Risk team during my summer placement of my Degree Apprenticeship. Working with Financial Services in Tech Risk (Operational Resilience), Data and Cyber to combat issues from major banks and insurance providers.
            <ul>
              <li>Tech Risk (Assurance)</li>
              <li>Financial Services Operational Resilience </li>
              <li>Data</li>
              <li>Cyber</li>
              <li>Technology and Investments</li>
            </ul>
          </div>
          <div class="resume-item">
            <h4>Work Experience</h4>
            <h5>2017</h5>
            <p><em>Collinson Group, London</em></p>
            <p>
                Worked on many technical problems for large clients, assisting with development, testing, design and user experience.
            <ul>
              <li>Development</li>
              <li>Testing</li>
              <li>Design</li>
              <li>User Experience</li>
            </ul>
          </div>
        </div>
        </div>
        
        <div class="col-lg-6">
          <h3 class="resume-title">Production Experience</h3>
          <div class="resume-item">
            <h4>Tech Services Assistant</h4>
            <h5>2018 - Present</h5>
            <p><em>Guild of Students, University of Birmingham</em></p>
            <p>
                I work for a production company at university working on all sides of production; lighting, sound and vision. Helping to create a wide range of events; corporate, student-based and musicals.
  
            <ul>
              <li>Lighting Design</li>
              <li>Vision Design </li>
              <li>Sound Design</li>
            </ul>
          </div>
          <div class="resume-item">
            <h4>Magician</h4>
            <h5>2014-Present</h5>
            <p><em>Various Locations</em></p>
            <p>
                Was a member of the Young Magician's Club, an Initiative of the Magic Circle for 6 years. Have performed at many events for hundreds of people. Thoroughly enjoy entertaining and making people smile through magic. 
            <ul>
              <li>Walkabout Magic</li>
              <li>Party Magic</li>
              <li>Table Magic</li>
            </ul>
          </div>
          <div class="resume-item">
            <h4>Head of Tech at Guild TV</h4>
            <h5>2018-Present</h5>
            <p><em>Guild of Students, University of Birmingham</em></p>
            <p>
                Have been the Head of Tech at Guild TV for a number of years now, supporting various productions in the media industry, from live corporate events to small intimate chat show streams. I am also a highly competent video editor and can create content for any occasion. Able to oversee pre-production, production and post-production for small projects.
            <ul>
              <li>Live Streams</li>
              <li>Chat Shows</li>
              <li>Video Editing</li>
              <li>Montages</li>
            </ul>
          </div>
          <div class="resume-item">
            <h4>Staff at the Jewish Lads and Girls Brigade</h4>
            <h5>2016-Present</h5>
            <p><em>UK Based</em></p>
            <p>
                In my spare time, I volunteer with a national youth group, as a member of staff, building on young people's potentials to achieve great things, helping them to evolve and thrive in leadership and teamwork. Have been involved at JLGB since I was 8 and now I am a leader, sharing my leadership knowledge with the upcoming younger members. 
                <br>
                <br>
                I run Birmingham Company, a weekly session running activities from teamwork, leadership, skills and active sessions educating the youth with the soft skills that they don't necessarily get taught in classrooms. I have also helped to organise and run international camps for children aged 8-18 for over 500 people. 
            <ul>
              <li>Teamwork</li>
              <li>Leadership</li>
              <li>Mentoring</li>
              <li>Youth Empowerment</li>
              <li>Training and Development</li>
              <li>Large Scale Organisation</li>
            </ul>
          </div>
          <div class="resume-item">
            <h4>Work Experience</h4>
            <h5>2016</h5>
            <p><em>CPL Productions, London</em></p>
            <p>
                Runner and assistant to production team, assisting with concepts, time management and editing.
            <ul>
              <li>Production Runner</li>
            </ul>
          </div>
        </div>
      </div>
  
    </div>
  </section><!-- End Resume Section -->
   
{% endblock %}