.page-header {
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    border-bottom: none;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #4ceb95;
    font-size: 36pt;
    text-decoration: none;
}

.post-form {
  margin: 0;
  font: inherit;
  color: black;
}

body::before {
    content: "";
    position: fixed;
    background: #000000 url("../assets/img/Jamie.jpg") bottom right no-repeat;
    background-position: 600px 50px;
    background-size:55%;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: -1;
  }

.content {
    margin-left: 40px;
}

h2{
  font-family: "Raleway", sans-serif;
  color: #18d26e;
}

h1, h3, h4 {
    font-family: "Raleway", sans-serif;
    color: #ffffff;
}

sm {
  font-family: "Raleway", sans-serif;
  color: #aaaaaa;
  font-size: 15px;
}

.date {
    color: #aaaaaa;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 1px;
}

.post {
    margin-bottom: 70px;
    margin-top: 70px;
}

.post h2 a, .post h2 a:visited {
    color: #ffffff;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: #040404;
    color: #fff;
    position: relative;
    background: transparent;
  }

  @media (min-width: 1024px) {
    body::before {
      background-attachment: fixed;
    }
  }
  
  a {
    color: #18d26e;
  }
  
  a:hover {
    color: #ffffff;
    text-decoration: none;
  }

  .page-header {
    transition: ease-in-out 0.3s;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    z-index: 997;
    overflow-y: auto;
  }

  t1 {
    position: relative;
    float: left;
    color: #18d26e;
    font-family: 'Inconsolata', Consolas, monospace;
    /*font-family: "Poppins", sans-serif, monospace;*/
    font-size: 50px;
  }

t2 {
	position: relative;
	float: left;
	color: #18d26e;
	font-family: 'Inconsolata', Consolas, monospace;
	/*font-family: "Poppins", sans-serif, monospace;*/
	font-size: 24px;
}

t3 {
	position: relative;
	float: left;
	color: #18d26e;
	font-family: 'Inconsolata', Consolas, monospace;
	/*font-family: "Poppins", sans-serif, monospace;*/
	font-size: 15px;
}

t2 span{
	position: absolute;
	top: 0;
	right: 0;
	background: #000000;
	width: 100%;
	border-left: .1em solid transparent;
	-webkit-animation: typing 3s steps(55) forwards,
										 cursor 1s infinite;
	animation: typing 3s steps(55) forwards,
						 cursor 1s infinite;
}
/* Animation */
@-webkit-keyframes typing{
	from { width: 100%;}
	to { width: 0;}
}
@-webkit-keyframes cursor{
	50% { border-color: white;}
}
@keyframes typing{
	from{ width: 100%;}
	to{ width: 0;}
}
@keyframes cursor{
	50% { border-color: white;}
}